/* Gilroy Thin */
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

/* Gilroy UltraLight */
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-UltraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

/* Gilroy Light */
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

/* Gilroy Regular */
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/* Gilroy Medium */
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

/* Gilroy Semi-Bold */
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

/* Gilroy Bold */
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

/* Gilroy Extra Bold */
@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

body {
    font-family: 'Gilroy', sans-serif;
}
